// @font-face {
//     font-family: 'Neutral Face';
//     src: local('Neutral Face');
//     font-style: normal;
//     src: url('../fonts/NeutralFace.otf') format('otf');
//     font-weight: normal;
// }

// @font-face {
//     font-family: 'Neutral Face';
//     src: local('Neutral Face Bold');
//     font-style: normal;
//     src: url('../fonts/NeutralFace-Bold.otf') format('otf');
//     font-weight: bold;
// }

// @font-face {
//     font-family: 'Inter Tight';
//     src: local('InterTight-Regular');
//     font-style: normal;
//     src: url('../fonts/NeutralFace.otf') format('otf');
//     font-weight: normal;
// }

/* Подключение шрифта Neutral Face */
@font-face {
    font-family: 'Neutral Face';
    src: url('./fonts/NeutralFace.otf') format('opentype');
}

/* Подключение шрифта Inter Tight */
@font-face {
    font-family: 'Inter Tight';
    src: url('./fonts/InterTight-Regular.ttf') format('truetype');
    font-weight: bold;
}