.headline-1 {
    /* H1 */
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 122%;
    letter-spacing: 0.02em;

    color: $primary;
}

.headline-2 {
    /* H2 */
    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 117%;

    letter-spacing: 0.02em;

    color: $primary;
}

.headline-3 {
    /* H3 */
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 133%;

    letter-spacing: 0.02em;

}

.text-1 {
    /* text_1 */
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 156%;

    letter-spacing: 0.02em;
}

.text-2 {
    /* text_2 */
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    letter-spacing: 0.02em;
}

.text-3 {
    /* text_3 */
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;

    letter-spacing: 0%;
}