$white: #FFFFFF;
$primary: #204E4A;
$brown: #A38D44;
$dark: #00200F;
$bg: #F1F0F0;
$darkgray: #394645;
$gray: #BFBFBF;
$glass: #5D5D5D;
$error: #EB5757;
$bg_blur: #86D8D1;

$transition: 0.2s ease-out;