.eco-1 {
    .content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .top-content {
        display: flex;
        gap: 13.4rem;
    }

    .banner {
        height: 51.8rem;
        width: 100%;
        border-radius: 8px;

        @extend .image-cover
    }
}