.fag-main,
.catalog-main {
    .content {
        display: flex;
        justify-content: space-between;
        gap: 2.4rem;

        .left-side {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .text-1 {
                max-width: 41.6rem;
            }
        }

        .right-side {
            .img {
                width: 63.6rem;
                height: 100%;
                border-radius: $border;
                @extend .image-cover
            }
        }
    }
}

.faqs {
    .mini-block {
        position: relative;
        margin: 0;
        width: auto;
    }

    .content {
        display: flex;
        gap: 13.4rem;
    }

    .accordion {
        max-width: 86.6rem;
    }
}