.home {
    .catalog-banner {
        height: 49.4rem;
        width: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;

        display: flex;
        align-items: end;

        padding: 3.2rem;
    }
}