@import '_variables.scss';
@import '_fonts.scss';
@import '_typography.scss';
@import 'wysiwyg.scss';
@import 'header.scss';
@import 'footer.scss';

@import 'home.scss';
@import 'about.scss';
@import 'quality.scss';
@import 'faq-product.scss';
@import 'eco.scss';
@import 'docs-media.scss';
@import 'contacts.scss';
@import 'career.scss';
@import 'single.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(100vw / 1440 * 10);

    // @media (max-width:1024px) {
    //     font-size: calc(100vw / 768 * 10);
    // }

    @media (max-width:767px) {
        font-size: calc(100vw / 768 * 10);
    }

    @media (max-width:500px) {
        font-size: calc(100vw / 375 * 10);
    }

}

body {
    font-family: 'Inter Tight';
    position: relative;
}

ul li {
    list-style: none;
}

li {
    list-style-position: inside;
}

img,
video {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.main {
    position: relative;
}

.content {
    max-width: 129.6rem;
    margin: 0 auto;
}

.breadcrumbs {
    display: flex;
    gap: 1.5rem;
    color: $darkgray;

    a {
        color: $darkgray;
    }
}

.button {
    border: 0.1rem solid #A38D44;
    transition: $transition;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    cursor: pointer;

    &-down,
    &-up {
        display: flex;
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 5rem;

        svg {
            width: 2.3rem;
            height: 2.6rem;
        }

        &:hover {
            background: $brown;

            path {
                stroke: $white;
            }
        }
    }

    &-up {
        svg {
            transform: rotate(180deg);
        }
    }

    &-long {
        padding: 1.2rem 2.4rem;
        gap: 0.8rem;
        max-width: 58rem;
        /* glass */
        background: rgba(93, 93, 93, 0.66);
        /* glass */
        border-radius: 48rem;
        backdrop-filter: blur(2.5rem);
        color: $white;
        border: none;

        justify-content: space-between;

        @extend .text-1;

        svg {
            width: 1.2rem;
            height: 1.3rem;
        }

        &:hover {
            background: $brown;
            color: $white;

            path {
                stroke: $white;
            }
        }
    }

    &-white {
        padding: 1.6rem;
        border: 0.2rem solid $brown;
        border-radius: 4.8rem;
        color: $white;
        width: 30.6rem;
        max-width: 30.6rem;
        @extend .text-1;

        svg {
            width: 1.2rem;
            height: 1.3rem;
        }

        path {
            stroke: $white;
        }

        &:hover {
            background: $brown;
            color: $white;

            path {
                stroke: $white;
            }
        }
    }

    &-brown {
        padding: 1.6rem;
        /* brown */
        border: 0.2rem solid $brown;
        border-radius: 4.8rem;

        /* primary green */
        color: $primary;

        width: 30.6rem;
        max-width: 30.6rem;
        @extend .text-1;

        svg {
            width: 1.2rem;
            height: 1.3rem;
        }

        path {
            stroke: $primary;
        }


        &:hover {
            background: $brown;
            color: $white;

            path {
                stroke: $white;
            }
        }

    }
}

#header {
    position: sticky;
    top: 0;
    z-index: 10;
}

#top-anchor {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.p-154 {
    padding: 15.4rem;
}

.p-140 {
    padding: 14rem 0;
}

.p-0-140 {
    padding: 0 0 14rem;
}

.p-140-0 {
    padding: 14rem 0 0;
}

.p-96 {
    padding: 9.6rem;
}

.p-96-140 {
    padding: 9.6rem 0 14rem;
}

.p-96-40 {
    padding: 9.6rem 0 4rem;
}

.p-56-0 {
    padding: 5.6rem 0 0;
}

.p-56 {
    padding: 5.6rem 0;
}


.p-20 {
    padding: 2rem 0;
}

.ellipse {
    opacity: 0.3;
    filter: blur(25rem);
    width: 67rem;
    height: 70.9rem;
    position: absolute;
    z-index: -10;

    &-brown {
        background: #A38D44;
    }

    &-blue {
        background: #86D8D1;
    }
}

.sticky-container {
    position: relative;
}

.section {
    position: relative;
    overflow: hidden;
}


.mini-block {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9rem;
    /* половина высоты блока */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
    gap: 1.6rem;

    color: $white;

    width: min-content;
    height: 18rem;

    background: rgba(93, 93, 93, 0.66);
    border: 0.1rem solid #BFBFBF;
    backdrop-filter: blur(2.5rem);
    border-radius: $border;

    @extend .text-2;

    span {
        color: $white;
    }

}

.accordion {
    max-width: 100%;
    flex-grow: 1;

    section:last-child {
        border-bottom: 0.1rem solid $gray;
    }

    span.circle {
        transition: $transition;
        width: 4rem;
        height: 4rem;
        display: block;
        position: absolute;
        background: transparent;
        right: 0;
        top: 50%;
        margin-top: -2rem;
        border-radius: 50%;
        z-index: -1;
    }

    &-doc {
        color: $dark;
        padding: 0.6rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: $transition;

        &:hover {
            span.ico-doc {
                background: $brown;
            }

            path {
                stroke: $white;
            }
        }

        &:last-child {
            margin-bottom: 3.2rem;
        }
    }

    span.ico-doc {
        display: flex;
        align-items: center;
        justify-content: center;

        transition: $transition;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border-radius: 3.2rem;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding: 1rem;
        text-align: center;
    }

    p.specification {
        color: $dark;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 5fr;
        padding: 0;

        .value {
            color: $darkgray;
        }
    }

    .specifications {
        p.specification:nth-last-child(1) {
            margin-bottom: 3.24rem;
        }
    }

    .name-signature {
        display: flex;
        flex-direction: column;
    }

    .name {
        text-transform: uppercase;
        line-height: 2rem;
    }
}

.accordion__heading {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 3.6rem 0;
    margin: 0;
    color: $dark;
    border-top: 0.1rem solid $gray;
    border-color: $gray;
    padding-right: 3.6rem;

    &:hover {
        span.circle {
            background: $brown;
        }
    }

    &:hover:after,
    &:hover:before {
        background: $white;
    }

    &:after,
    &:before {
        content: "";
        position: absolute;
        width: 1.6rem;
        height: 0.3rem;
        top: 50%;
        right: 1.2rem;
        background: $primary;
        transition: all 0.1s;
        margin-top: -0.15rem;
    }

    &:after {
        transform: rotate(90deg);
        transition: all 0.1s;
    }
}

.accordion__checkbox {
    display: none;
    position: absolute;
    left: -9999em;

    &:checked~.accordion__heading:before {
        transform: rotate(90deg);
        opacity: 0;
        transition: all 0.1s;
    }

    &:checked~.accordion__heading:after {
        transform: rotate(180deg);
    }

    &:checked~.accordion__content {
        max-height: 100rem;
        transition: all 2s;
    }
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .text-2 {
        padding-bottom: 3.6rem;
    }
}

.card-form {
    display: flex;
    flex-direction: column;
    padding: 3.2rem 5.5rem;
    gap: 2.4rem;
    width: 41.6rem;
    height: 25.2rem;
    background: $bg;
    border: 0.1rem solid #BFBFBF;
    backdrop-filter: blur(2.5rem);
    border-radius: 0.8rem;
    justify-content: center;
}

.cards .card-form {
    height: 100%;
}

.share {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    transition: $transition;

    &-action {
        display: flex;
        gap: 2.4rem;
        align-items: center;
    }

    margin-top: 4rem;
    position: relative;

    input[type="checkbox"] {
        display: none;
    }

    &-buttons {
        display: flex;
        position: absolute;
        left: 20rem;
        gap: 2.4rem;
        opacity: 0;
        transition: $transition;
        z-index: -1;
    }

    .share-social {
        transition: $transition;

        &:hover {
            scale: 1.1;

            rect {
                transition: $transition;
            }

            rect:nth-child(1) {
                fill: #597da3;
            }

            rect:nth-child(2) {
                stroke: #597da3;
            }
        }
    }
}

.share-checkbox:checked~.share-buttons {
    left: 35rem;
    transition: $transition;
    opacity: 1;
    z-index: 1;
}