@import '_fonts.scss';
@import 'wysiwyg.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(100vw / 1440 * 10);

    @media (max-width:1024px) {
        font-size: calc(100vw / 768 * 10);
    }

    @media (max-width:767px) {
        font-size: calc(100vw / 768 * 10);
    }

    @media (max-width:500px) {
        font-size: calc(100vw / 375 * 10);
    }

}

body {
    font-family: 'Inter Tight';
    position: relative;
}

ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.button {

    border: 1px solid #A38D44;

    &-down {
        display: block;
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 5rem;
    }

    &-long {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.2rem 2.4rem;
        gap: 0.8rem;
        max-width: 58rem;
        /* glass */
        background: rgba(93, 93, 93, 0.66);
        /* glass */
        border-radius: 48rem;
        backdrop-filter: blur(2.5rem);
    }

    &-white {}
}

#header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.p-140 {
    padding: 14rem 0;
}

.p-0-140 {
    padding: 0 0 14rem;
}

.p-140-0 {
    padding: 14rem 0 0;
}

.p-96 {
    padding: 9.6rem;
}

.p-96-140 {
    padding: 9.6rem 0 14rem;
}

.p-154 {
    padding: 15.4rem;
}